In [3]:
import pandas as pd
from tabula import read_pdf, convert_into

In [4]:
input_file = './data/FNMA_SF_Loan_Performance_File_layout.pdf'
output_file = './data/data_dict_summary.csv'

In [32]:
df = read_pdf(input_file, pages='all')
df.head()

  File Position              Unnamed: 1 Field Name           Type Max Length
0           NaN                     NaN        NaN            NaN        NaN
1             1         LOAN IDENTIFIER        NaN  ALPHA-NUMERIC         20
2             2     ORIGINATION CHANNEL        NaN  ALPHA-NUMERIC          1
3             3             SELLER NAME        NaN  ALPHA-NUMERIC         80
4             4  ORIGINAL INTEREST RATE        NaN        NUMERIC      14,10

In [41]:
df.fillna(value=' ', inplace=True)

In [44]:
df['Field Name'] = df['Unnamed: 1'] +' '+ df['Field Name']
df.head()

,File Position,Unnamed: 1,Field Name,Type,Max Length
0,,,,,
1,1,LOAN IDENTIFIER,LOAN IDENTIFIER,ALPHA-NUMERIC,20
2,2,ORIGINATION CHANNEL,ORIGINATION CHANNEL,ALPHA-NUMERIC,1
3,3,SELLER NAME,SELLER NAME,ALPHA-NUMERIC,80
4,4,ORIGINAL INTEREST RATE,ORIGINAL INTEREST RATE,NUMERIC,"14,10"

In [45]:
df.drop(columns='Unnamed: 1', inplace=True)

In [56]:
df.drop(index = df[df['File Position'] == ' '].index, inplace=True)

In [66]:
df_acq = df.iloc[0:25,:].reset_index(drop=True)

In [69]:
df_perf = df.iloc[26:,:].reset_index(drop=True)

In [77]:
df_acq['Field Name'] = df_acq['Field Name'].map(lambda x: x.strip())

In [78]:
df_perf['Field Name'] = df_perf['Field Name'].map(lambda x: x.strip())

In [79]:
output_file = './data/acquisition_data_dict_summary.csv'
df_acq.to_csv(output_file, index=False)

In [80]:
output_file = './data/performance_data_dict_summary.csv'
df_perf.to_csv(output_file, index=False)