<img style="float: left;" src="../images/fanniemae.png">
<br><br><br><br><br><br>
______

# Mortgage Loan Default Classifier
____________
____________

## Problem Statement:
_____________
<.add problem statement here when complete.>

## Engineered Features
___________
- elaborate

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.utils import resample
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.metrics import confusion_matrix

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import regularizers
from keras.callbacks import EarlyStopping

%matplotlib inline

Using TensorFlow backend.

In [2]:
df = pd.read_csv('../data/complete2011q1.csv')
df.head()

,LOAN IDENTIFIER,ORIGINATION CHANNEL,SELLER NAME,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),NUMBER OF BORROWERS,ORIGINAL DEBT TO INCOME RATIO,...,LOAN PURPOSE,PROPERTY TYPE,NUMBER OF UNITS,OCCUPANCY TYPE,PROPERTY STATE,PRODUCT TYPE,RELOCATION MORTGAGE INDICATOR,DEFAULT,MI,MIN CREDIT SCORE
0,100000841305,C,"CITIMORTGAGE, INC.",4.125,124000,360,79,79.0,1.0,28.0,...,R,SF,1,P,TX,FRM,N,0,0.0,792.0
1,100001889356,R,OTHER,4.625,115000,240,68,68.0,1.0,34.0,...,C,SF,1,P,IL,FRM,N,0,0.0,705.0
2,100006453372,C,"BANK OF AMERICA, N.A.",4.375,175000,360,52,52.0,2.0,29.0,...,C,PU,1,S,AZ,FRM,N,0,0.0,776.0
3,100010656545,C,"BANK OF AMERICA, N.A.",4.375,365000,360,59,59.0,3.0,40.0,...,C,PU,1,P,IL,FRM,N,0,0.0,797.0
4,100010758624,R,"CITIMORTGAGE, INC.",3.875,69000,120,28,28.0,1.0,32.0,...,C,SF,1,P,SC,FRM,N,0,0.0,785.0

In [3]:
continuous_features = ['ORIGINAL INTEREST RATE', 'ORIGINAL UPB', 'ORIGINAL LOAN-TO-VALUE (LTV)', 
                       'ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)', 'ORIGINAL DEBT TO INCOME RATIO',
                       'MIN CREDIT SCORE']

In [4]:
poly = PolynomialFeatures(degree=2, include_bias=False)
df_poly = pd.DataFrame(poly.fit_transform(df[continuous_features]), columns=poly.get_feature_names(continuous_features))
df_poly = df_poly.drop(columns=continuous_features)
df_poly = pd.concat([df, df_poly], axis=1)
df_poly.head()

C:\Users\bdmir\Anaconda3\envs\dsi\lib\site-packages\sklearn\preprocessing\data.py:1263: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  for c in combinations)

,LOAN IDENTIFIER,ORIGINATION CHANNEL,SELLER NAME,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),NUMBER OF BORROWERS,ORIGINAL DEBT TO INCOME RATIO,...,ORIGINAL LOAN-TO-VALUE (LTV)^2,ORIGINAL LOAN-TO-VALUE (LTV) ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),ORIGINAL LOAN-TO-VALUE (LTV) ORIGINAL DEBT TO INCOME RATIO,ORIGINAL LOAN-TO-VALUE (LTV) MIN CREDIT SCORE,ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)^2,ORIGINAL COMBINED LOAN-TO-VALUE (CLTV) ORIGINAL DEBT TO INCOME RATIO,ORIGINAL COMBINED LOAN-TO-VALUE (CLTV) MIN CREDIT SCORE,ORIGINAL DEBT TO INCOME RATIO^2,ORIGINAL DEBT TO INCOME RATIO MIN CREDIT SCORE,MIN CREDIT SCORE^2
0,100000841305,C,"CITIMORTGAGE, INC.",4.125,124000,360,79,79.0,1.0,28.0,...,6241.0,6241.0,2212.0,62568.0,6241.0,2212.0,62568.0,784.0,22176.0,627264.0
1,100001889356,R,OTHER,4.625,115000,240,68,68.0,1.0,34.0,...,4624.0,4624.0,2312.0,47940.0,4624.0,2312.0,47940.0,1156.0,23970.0,497025.0
2,100006453372,C,"BANK OF AMERICA, N.A.",4.375,175000,360,52,52.0,2.0,29.0,...,2704.0,2704.0,1508.0,40352.0,2704.0,1508.0,40352.0,841.0,22504.0,602176.0
3,100010656545,C,"BANK OF AMERICA, N.A.",4.375,365000,360,59,59.0,3.0,40.0,...,3481.0,3481.0,2360.0,47023.0,3481.0,2360.0,47023.0,1600.0,31880.0,635209.0
4,100010758624,R,"CITIMORTGAGE, INC.",3.875,69000,120,28,28.0,1.0,32.0,...,784.0,784.0,896.0,21980.0,784.0,896.0,21980.0,1024.0,25120.0,616225.0

In [5]:
categorical_features = ['ORIGINATION CHANNEL', 'SELLER NAME', 'FIRST TIME HOME BUYER INDICATOR', 'LOAN PURPOSE', 
                        'PROPERTY TYPE', 'OCCUPANCY TYPE', 'PROPERTY STATE', 'PRODUCT TYPE', 'RELOCATION MORTGAGE INDICATOR']

In [6]:
df_poly = pd.get_dummies(df_poly, columns=categorical_features, drop_first=True)
df_poly.shape

(504559, 113)

### Target number of observations  = features ^ 2
- 112^2 = 12,544  

Need to upsample minority and downsample majority

In [7]:
df['DEFAULT'].value_counts()

0    502998
1      1561
Name: DEFAULT, dtype: int64

In [8]:
# balance targets
# split classes
df_maj = df_poly[df_poly['DEFAULT'] == 0]
df_min = df_poly[df_poly['DEFAULT'] == 1]

# upsample minority
df_min_resample = resample(df_min,
                           replace=True,
                           n_samples=int(len(df_poly.columns)**2.05),
                           random_state=42)

# downsample majority
df_maj_resample = resample(df_maj, 
                           replace=False,    
                           n_samples=df_min_resample.shape[0],
                           random_state=42)             


# concat downsample and minority
df_resample = pd.concat([df_maj_resample, df_min_resample])
 
# Display new class counts
df_resample['DEFAULT'].value_counts()

1    16173
0    16173
Name: DEFAULT, dtype: int64

In [9]:
# train test split
X = df_resample.drop(columns=['DEFAULT'])
y = df_resample['DEFAULT']

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y,
                                                    shuffle=True,
                                                    random_state=42)

In [10]:
ss = StandardScaler()
ss.fit(X_train, y_train)
X_train_sc = ss.transform(X_train)
X_test_sc = ss.transform(X_test)

## Logistic Classifier

In [11]:
params = {
    'penalty': ['l1', 'l2'],
    'C': [0.1, 0.2, 0.3, 0.4]
}

grid_log_cv = GridSearchCV(LogisticRegression(), params, cv=5, return_train_score=True, n_jobs=-1)
grid_log_cv.fit(X_train_sc, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'penalty': ['l1', 'l2'], 'C': [0.1, 0.2, 0.3, 0.4]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [12]:
grid_log_cv.best_params_

{'C': 0.2, 'penalty': 'l1'}

In [13]:
grid_log_cv.best_score_

0.7797106228616184

In [14]:
log_opt = grid_log_cv.best_estimator_

In [15]:
log_opt.score(X_test_sc, y_test)

0.7808828984790405

In [16]:
y_pred = log_opt.predict(X_test_sc)

In [17]:
confusion_matrix(y_test, y_pred)

array([[3102,  942],
       [ 830, 3213]], dtype=int64)

In [18]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [19]:
def false_negative_rate(fn=fn, tp=tp):
    return fn/(tp+fn)

def accuracy(tn=tn, tp=tp, y_test=y_test):
    return (tn + tp)/len(y_test)

In [20]:
false_negative_rate()

0.20529309918377442

In [21]:
accuracy()

0.7808828984790405

In [22]:
df_pred = pd.DataFrame(log_opt.predict_proba(X_test_sc), columns=['NO DEFAULT', 'DEFAULT'])
df_pred['y_pred'] = y_pred
df_pred['y_pred_adj'] = df_pred['DEFAULT'].map(lambda x: 1 if x >= 0.05 else 0)
df_pred.head()

   NO DEFAULT   DEFAULT  y_pred  y_pred_adj
0    0.082824  0.917176       1           1
1    0.706832  0.293168       0           1
2    0.820970  0.179030       0           1
3    0.882701  0.117299       0           1
4    0.231704  0.768296       1           1

In [23]:
confusion_matrix(y_test, df_pred['y_pred_adj'])

array([[ 561, 3483],
       [  27, 4016]], dtype=int64)

In [24]:
tn, fp, fn, tp = confusion_matrix(y_test, df_pred['y_pred_adj']).ravel()

In [25]:
false_negative_rate(fn, tp)

0.006678209250556517

In [26]:
accuracy(tn, tp, y_test)

0.565970075429702

## Neural Network

In [39]:
num = X_train_sc.shape[1]

nn = Sequential()

nn.add(Dense(num, activation='relu', input_dim=num))
nn.add(Dropout(0.1))
nn.add(Dense(int(num/2), activation='relu'))
nn.add(Dense(1, activation='sigmoid'))

nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

early = EarlyStopping(monitor='val_loss', min_delta=0, patience=2)

nn_result = nn.fit(X_train_sc, y_train, epochs=100, validation_data=(X_test_sc, y_test), callbacks=[early])

Train on 24259 samples, validate on 8087 samples
Epoch 1/100
24259/24259 [==============================] - 2s 79us/step - loss: 0.4748 - acc: 0.7807 - val_loss: 0.4333 - val_acc: 0.8071
Epoch 2/100
24259/24259 [==============================] - 1s 54us/step - loss: 0.4048 - acc: 0.8231 - val_loss: 0.3711 - val_acc: 0.8420
Epoch 3/100
24259/24259 [==============================] - 1s 54us/step - loss: 0.3564 - acc: 0.8484 - val_loss: 0.3465 - val_acc: 0.8500
Epoch 4/100
24259/24259 [==============================] - 1s 54us/step - loss: 0.3176 - acc: 0.8689 - val_loss: 0.3096 - val_acc: 0.8804
Epoch 5/100
24259/24259 [==============================] - 2s 62us/step - loss: 0.2860 - acc: 0.8835 - val_loss: 0.2753 - val_acc: 0.8970
Epoch 6/100
24259/24259 [==============================] - 1s 54us/step - loss: 0.2532 - acc: 0.9017 - val_loss: 0.2427 - val_acc: 0.9136
Epoch 7/100
24259/24259 [==============================] - 2s 69us/step - loss: 0.2364 - acc: 0.9068 - val_loss: 0.2330 - val_acc: 0.9143
Epoch 8/100
24259/24259 [==============================] - 1s 53us/step - loss: 0.2174 - acc: 0.9162 - val_loss: 0.2150 - val_acc: 0.9269
Epoch 9/100
24259/24259 [==============================] - 1s 58us/step - loss: 0.1987 - acc: 0.9229 - val_loss: 0.2026 - val_acc: 0.9303
Epoch 10/100
24259/24259 [==============================] - 1s 60us/step - loss: 0.1848 - acc: 0.9302 - val_loss: 0.2048 - val_acc: 0.9274
Epoch 11/100
24259/24259 [==============================] - 1s 52us/step - loss: 0.1705 - acc: 0.9373 - val_loss: 0.1974 - val_acc: 0.9336
Epoch 12/100
24259/24259 [==============================] - 1s 48us/step - loss: 0.1590 - acc: 0.9416 - val_loss: 0.1810 - val_acc: 0.9416
Epoch 13/100
24259/24259 [==============================] - 1s 49us/step - loss: 0.1515 - acc: 0.9439 - val_loss: 0.1813 - val_acc: 0.9390
Epoch 14/100
24259/24259 [==============================] - 2s 63us/step - loss: 0.1437 - acc: 0.9464 - val_loss: 0.1637 - val_acc: 0.9447
Epoch 15/100
24259/24259 [==============================] - 1s 55us/step - loss: 0.1351 - acc: 0.9510 - val_loss: 0.1737 - val_acc: 0.9445
Epoch 16/100
24259/24259 [==============================] - 1s 58us/step - loss: 0.1287 - acc: 0.9533 - val_loss: 0.1646 - val_acc: 0.9463

In [28]:
df_pred_nn = pd.DataFrame(nn.predict_proba(X_test_sc), columns=['DEFAULT'])
df_pred_nn['y_pred'] = nn.predict_classes(X_test_sc)
df_pred_nn['y_pred_adj'] = df_pred_nn['DEFAULT'].map(lambda x: 1 if x >= 0.01 else 0)
df_pred_nn.head()

        DEFAULT  y_pred  y_pred_adj
0  9.962887e-01       1           1
1  9.998637e-01       1           1
2  4.264235e-07       0           0
3  2.080206e-03       0           0
4  9.992656e-01       1           1

In [29]:
confusion_matrix(y_test, df_pred_nn['y_pred_adj'])

array([[2955, 1089],
       [   0, 4043]], dtype=int64)

In [30]:
tn, fp, fn, tp = confusion_matrix(y_test, df_pred_nn['y_pred_adj']).ravel()

In [31]:
false_negative_rate(fn, tp)

0.0

In [32]:
accuracy(tn, tp, y_test)

0.8653394336589588

In [33]:
# plot changes in threshold to visualize changes

## Neural Network on Future Data

In [57]:
df_2012Q1 = pd.read_csv('../data/complete2012q1.csv')
df_2012Q1.head()

,LOAN IDENTIFIER,ORIGINATION CHANNEL,SELLER NAME,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),NUMBER OF BORROWERS,ORIGINAL DEBT TO INCOME RATIO,...,LOAN PURPOSE,PROPERTY TYPE,NUMBER OF UNITS,OCCUPANCY TYPE,PROPERTY STATE,PRODUCT TYPE,RELOCATION MORTGAGE INDICATOR,DEFAULT,MI,MIN CREDIT SCORE
0,100000853384,R,OTHER,4.625,280000,360,31,31.0,1.0,23.0,...,C,SF,1,I,CA,FRM,N,0,0.0,801.0
1,100003735682,R,SUNTRUST MORTGAGE INC.,3.990,466000,360,80,80.0,2.0,30.0,...,P,SF,1,P,MD,FRM,N,0,0.0,788.0
2,100006367485,C,PHH MORTGAGE CORPORATION,4.000,229000,360,67,67.0,2.0,36.0,...,R,SF,1,P,CA,FRM,N,0,0.0,794.0
3,100007267644,C,OTHER,4.125,154000,360,77,77.0,1.0,43.0,...,R,CO,1,P,MA,FRM,N,0,0.0,724.0
4,100007813921,C,FLAGSTAR CAPITAL MARKETS CORPORATION,3.875,152000,360,48,48.0,2.0,26.0,...,R,PU,1,P,CA,FRM,N,0,0.0,820.0

In [58]:
df_2012Q1 = pd.get_dummies(df_2012Q1, columns=categorical_features, drop_first=True)
df_2012Q1.shape

(637079, 96)

In [59]:
df_2012Q1_poly = pd.DataFrame(poly.fit_transform(df_2012Q1[continuous_features]), columns=poly.get_feature_names(continuous_features))
df_2012Q1_poly = df_2012Q1_poly.drop(columns=continuous_features)
df_2012Q1 = pd.concat([df_2012Q1, df_2012Q1_poly], axis=1)
df_2012Q1.head()

C:\Users\bdmir\Anaconda3\envs\dsi\lib\site-packages\sklearn\preprocessing\data.py:1263: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  for c in combinations)

,LOAN IDENTIFIER,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),NUMBER OF BORROWERS,ORIGINAL DEBT TO INCOME RATIO,NUMBER OF UNITS,DEFAULT,...,ORIGINAL LOAN-TO-VALUE (LTV)^2,ORIGINAL LOAN-TO-VALUE (LTV) ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),ORIGINAL LOAN-TO-VALUE (LTV) ORIGINAL DEBT TO INCOME RATIO,ORIGINAL LOAN-TO-VALUE (LTV) MIN CREDIT SCORE,ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)^2,ORIGINAL COMBINED LOAN-TO-VALUE (CLTV) ORIGINAL DEBT TO INCOME RATIO,ORIGINAL COMBINED LOAN-TO-VALUE (CLTV) MIN CREDIT SCORE,ORIGINAL DEBT TO INCOME RATIO^2,ORIGINAL DEBT TO INCOME RATIO MIN CREDIT SCORE,MIN CREDIT SCORE^2
0,100000853384,4.625,280000,360,31,31.0,1.0,23.0,1,0,...,961.0,961.0,713.0,24831.0,961.0,713.0,24831.0,529.0,18423.0,641601.0
1,100003735682,3.990,466000,360,80,80.0,2.0,30.0,1,0,...,6400.0,6400.0,2400.0,63040.0,6400.0,2400.0,63040.0,900.0,23640.0,620944.0
2,100006367485,4.000,229000,360,67,67.0,2.0,36.0,1,0,...,4489.0,4489.0,2412.0,53198.0,4489.0,2412.0,53198.0,1296.0,28584.0,630436.0
3,100007267644,4.125,154000,360,77,77.0,1.0,43.0,1,0,...,5929.0,5929.0,3311.0,55748.0,5929.0,3311.0,55748.0,1849.0,31132.0,524176.0
4,100007813921,3.875,152000,360,48,48.0,2.0,26.0,1,0,...,2304.0,2304.0,1248.0,39360.0,2304.0,1248.0,39360.0,676.0,21320.0,672400.0

In [60]:
drop2012 = []

for col in df_2012Q1.columns:
    if col not in df_poly.columns:
        drop2012.append(col)

In [61]:
drop2012

['SELLER NAME_CHICAGO MORTGAGE SOLUTIONS DBA INTERBANK MORTGAGE COMPANY',
 'SELLER NAME_CHICAGO MORTGAGE SOLUTIONS DBA INTERFIRST MORTGAGE COMPANY',
 'SELLER NAME_FEDERAL HOME LOAN BANK OF CHICAGO',
 'SELLER NAME_FIFTH THIRD BANK',
 'SELLER NAME_FRANKLIN AMERICAN MORTGAGE COMPANY',
 'SELLER NAME_QUICKEN LOANS INC.']

In [62]:
add2011 = []

for col in df_poly.columns:
    if col not in df_2012Q1.columns:
        add2011.append(col)

In [63]:
add2011

['SELLER NAME_HSBC BANK USA, NATIONAL ASSOCIATION', 'SELLER NAME_REGIONS BANK']

In [64]:
df_2012Q1 = df_2012Q1.drop(columns=drop2012)

In [67]:
for col in add2011:
    df_2012Q1[col] = 0

In [81]:
df_2012Q1.shape

(637079, 113)

In [68]:
X_test_2012Q1 = df_2012Q1.drop(columns=['DEFAULT'])
y_test_2012Q1 = df_2012Q1['DEFAULT']

In [69]:
X_test_sc_2012Q1 = ss.transform(X_test_2012Q1)

In [75]:
nn.predict_proba(X_test_sc_2012Q1)

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [82]:
df_pred_2012Q1 = pd.DataFrame(nn.predict_proba(X_test_sc_2012Q1), columns=['DEFAULT'])
df_pred_2012Q1['y_pred'] = nn.predict_classes(X_test_sc_2012Q1)
df_pred_2012Q1['y_pred_adj'] = df_pred_2012Q1['DEFAULT'].map(lambda x: 1 if x >= 0.5 else 0)
df_pred_2012Q1.head()

   DEFAULT  y_pred  y_pred_adj
0      0.0       0           0
1      0.0       0           0
2      0.0       0           0
3      0.0       0           0
4      0.0       0           0

In [83]:
confusion_matrix(y_test_2012Q1, df_pred_2012Q1['y_pred_adj'])

array([[635950,      0],
       [  1129,      0]], dtype=int64)

In [84]:
tn, fp, fn, tp = confusion_matrix(y_test_2012Q1, df_pred_2012Q1['y_pred_adj']).ravel()

In [85]:
false_negative_rate(fn, tp)

1.0

In [86]:
accuracy(tn, tp, y_test_2012Q1)

0.9982278492934157