# Fannie Mae Loan Default Classifier

In [2]:
import pandas as pd

In [7]:
acq_fp = './data/acquisition_data_dict_summary.csv'
list_acq_col_names = pd.read_csv(acq_fp)['Field Name'].tolist()

In [8]:
perf_fp = './data/performance_data_dict_summary.csv'
list_perf_col_names = pd.read_csv(perf_fp)['Field Name'].tolist()

In [10]:
df_acq = pd.DataFrame()

for i in range(1,5):
    file = f'./data/2005Q{i}/Acquisition_2005Q{i}.txt'
    df_temp = pd.read_csv(file, sep="|", header=None, names = list_acq_col_names)
    df_acq = pd.concat([df_acq, df_temp])

df_acq.head()

,LOAN IDENTIFIER,ORIGINATION CHANNEL,SELLER NAME,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINATION DATE,FIRST PAYMENT DATE,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),...,PROPERTY TYPE,NUMBER OF UNITS,OCCUPANCY TYPE,PROPERTY STATE,ZIP CODE SHORT,PRIMARY MORTGAGE INSURANCE PERCENT,PRODUCT TYPE,CO-BORROWER CREDIT SCORE AT ORIGINATION,MORTGAGE INSURANCE TYPE,RELOCATION MORTGAGE INDICATOR
0,100000102115,C,"CITIMORTGAGE, INC.",4.500,95000,120,02/2005,04/2005,51,51.0,...,SF,1,P,TX,750,NaN,FRM,783.0,NaN,N
1,100001329224,B,"BANK OF AMERICA, N.A.",5.875,141000,360,12/2004,02/2005,78,78.0,...,SF,1,P,IL,606,NaN,FRM,733.0,NaN,N
2,100004036273,C,"BANK OF AMERICA, N.A.",6.625,139000,360,01/2005,03/2005,95,95.0,...,SF,1,S,FL,349,30.0,FRM,NaN,1.0,N
3,100004945019,R,"BANK OF AMERICA, N.A.",5.875,104000,360,12/2004,02/2005,68,68.0,...,PU,1,P,SC,295,NaN,FRM,NaN,NaN,N
4,100013634177,C,"CITIMORTGAGE, INC.",6.250,51000,240,12/2004,02/2005,69,69.0,...,SF,1,P,WI,544,NaN,FRM,NaN,NaN,N

In [ ]:
df_perf = pd.DataFrame()

for i in range(1,5):
    file = f'./data/2005Q{i}/Performance_2005Q{i}.txt'
    df_temp = pd.read_csv(file, sep="|", header=None, names = list_perf_col_names)
    df_perf = pd.concat([df_perf, df_temp])

df_perf.head()